---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% assign pub_number = 0 %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% assign pub_number = pub_number | plus: 1 %}
      <div class="list__item">
        <article class="archive__item">
          {% if post.citation %}<p>{{ pub_number }}. {{ post.citation }}{% if post.paperurl %} <a href="{{ base_path }}{{ post.paperurl }}">[PDF]</a>{% endif %}</p>{% endif %}
        </article>
      </div>
    {% endfor %}
  {% endfor %}
{% endif %}
