---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      <div class="list__item">
        <article class="archive__item">
          <h3 class="archive__item-title">{{ post.title }}</h3>
          {% if post.excerpt %}<p class="archive__item-excerpt">{{ post.excerpt }}</p>{% endif %}
          {% if post.citation %}<p>{{ post.citation }}</p>{% endif %}
          {% if post.paperurl %}<p><a href="{{ base_path }}{{ post.paperurl }}" class="btn btn--primary">Download PDF</a></p>{% endif %}
        </article>
      </div>
    {% endfor %}
  {% endfor %}
{% endif %}
